.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
}

.App-intro {
  font-size: large;
}
.Crawler-search {
  float: left;
  font-size: 1.5em;
  padding: 1.3em;
}

.Crawler-search-box {
  padding: 0.5em;
  border: 0.1em solid black;
}
.Crawler-search-text {
  margin-right: 5em;
  width: 20em;
  height: 2em;
}
.Crawler-search-submit {
  width: 15em;
  height: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
